.profile {
    height:100vh;
    color:white;
}

.profile-body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left:auto;margin-right:auto;
    padding-top:8%;
    max-width: 800px;
}
.profile-info {
    display: flex;
}
.profile-info > img {
    height:100px;
}
.profile-plans{
    margin-top:20px;
} 
.profile-plans > h3 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.profile-signout {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #68f8ee; 
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.profile-details {
    color: white;
    margin-left:25px;
    flex:1;
}
.profile-details > h2 {
    background-color: gray;
    padding:15px;
    font-size:15px;
    padding-left: 20px;
}
.profile-body > h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #68f8ee;
    margin: bottom 20px;
}