.row {
    color: white;
    margin-left: 20px;
  }
  
.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin-top: 1rem;
  
}


.row-posters::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.row-posters::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.row-posters::-webkit-scrollbar-thumb {
  background: #5BD7CB;
}


.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 175px;
  margin-right: 10px;

  transition: transform 450ms;
}

.row-poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row-posterLarge {
  max-height: 300px;
}

.row-posterLarge:hover {
  transform: scale(1.09);
}